__pycache__/
*.pyc
*.pyo
*.pyd

*.so

build/
dist/
*.egg-info/
*.egg

.env
.venv
env/
venv/
ENV/

.pytest_cache/
.cache/

.idea/            # IntelliJ / PyCharm
.vscode/          # Visual Studio Code
*.sublime-project
*.sublime-workspace

.ipynb_checkpoints/


.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

*~
*.swp
*.swo
*.bak

*.log
logs/

.coverage
.coverage.*
htmlcov/

.mypy_cache/

